@primary-bg: #333;
@nav-bg: rgb(196, 108, 0);
@nav-text: #ffffff;
@footer-bg: #222;
@footer-text: #ffffff;

// Box colors
@box-red: red;
@box-blue: blue;
@box-green: green;
@box-purple: purple;

// Box base Sizes
@size-50: 50px;
@size-100: 100px;
@size-200: 200px;
@size-250: 250px;